body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* padding-bottom: 0px; */
    margin: 0px;
    padding: 0px;
    /* 留出底部空隙 */
    box-sizing: border-box;
    /* 包含padding */
    overflow: hidden;
}

.normal-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    background-image: var(--bgImg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    --bgImg: ;
    --bgBlur: 10;
}

.bottom-box-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.bottom-box-bg:hover .bottom-box {
    transform: translateY(-30%);
    width: 90%;
    color: black;
    box-shadow: #3e3e3e94 0px 0px 15px 1px;
}

.bottom-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 9999px;
    outline: 1px solid #ccc;
    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
    padding-left: 10px;
    padding-right: 10px;


    left: 50%;
    translate: -50% 0;
    width: 80%;
    min-height: 40px;

    color: transparent;

    bottom: 0;
    /* 保持底部对齐 */
    transform: translateY(80%);
    /* 向上移动自身高度 */

    transition: transform 0.3s, width 0.3s, box-shadow 0.3s;
}


.gacha-box {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* overflow: hidden; */
    margin-top: 8px;
    margin-bottom: 5px;

    outline: 1px solid rgb(182, 203, 205);
    box-shadow: #5e5e5e77 0px 0px 8px 0px;
}

#scroll-container {
    flex: 1 1 auto;
    /* background: rgb(243, 254, 255); */
    /* margin-bottom: 5px; */
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    border-radius: 0px 0px 10px 10px;
    position: relative;
    font-family: sans-serif;

    border-top: 1px solid rgb(182, 203, 205);
    /* border-top: 1px solid rgb(214, 232, 234);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
}

#scroll-container::-webkit-scrollbar {
    width: 16px;
    /* background-clip: content-box; */
}

#scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(68, 174, 240, 0.295);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;

    min-height: 32px;
}

#scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(43, 127, 179, 0.613);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

#scroll-container::-webkit-scrollbar-track {
    background: transparent;
    /* background-color: white; */
}

#spacer {
    height: 0;
}

.item {
    height: 60px;
    box-sizing: border-box;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    position: absolute;
    width: 100%;
}

#filter-buttons {
    position: sticky;
    top: 0;
    background: rgba(203, 239, 242, 0.75);
    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
    /* z-index: 10; */
    padding: 8px;

    display: flex;
    /* border: 1px solid #ccc; */
    border-radius: 10px 10px 0px 0px;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */

    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc; */
    /* color:rgb(134, 161, 164) */
}

#filter-buttons button {
    margin-right: 8px;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid rgb(146, 165, 168);
    background-color: #f9f9f9;
    box-shadow: rgba(141, 152, 154, 0.644) 0px 0px 4px 1px;
    box-sizing: border-box !important;
    cursor: pointer;
}

.scroll-container {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
}

.active {
    position: relative;
    /* ✅ 让 ::after 相对定位于这个元素 */
    background-color: rgb(191, 245, 230) !important;
}

.active::after {
    content: "";
    position: absolute;
    inset: 0;
    /* border: 2px solid rgb(99, 189, 174); */
    box-shadow: 0 0 0 2px rgb(99, 189, 174);
    pointer-events: none;
    /* transition: border-width 0.3s; */
    border-radius: 8px;
}

#filter-buttons button:hover {
    background-color: rgb(203, 229, 230);
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid #ccc; */
}

.progress-bar {
    height: 100%;
    transition: width 0.3s;
}

.chart-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* margin: 2px; */
    padding: 10px;
    background-color: rgba(247, 236, 226, 0.75);

    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
    box-shadow: #5e5e5e77 0px 0px 8px 0px;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* aspect-ratio: 1 */
}

.chart {
    height: 150px;
    width: 100%;
}

canvas {
    width: 100% !important;
    /* 宽度自动适应 */
    height: 100% !important;
    /* 高度跟父容器保持一致 */
}

.hide {
    display: none !important;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.774);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 10;
    bottom: -30px;
    /* 提示框在按钮上方 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip .top {
    top: -30px;
    bottom: auto;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip:hover .tooltiptext-top {
    visibility: visible;
    opacity: 1;
}

.info {
    flex: 1;
    position: relative;
    background-color: rgba(255, 237, 209, 0.75);
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    border: 1px solid #ccc;
    border-radius: 10px;
    isolation: isolate;
    z-index: 1;

    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
    box-shadow: #5e5e5e77 0px 0px 8px 0px;
}

.info div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.game-change {
    cursor: pointer;
    height: 40px !important;
    width: 40px !important;
    /* aspect-ratio:1; */
}

.dropdown {
    display: none;
    border: 1px solid #ccc;
    /* width: 130px; */
    position: absolute;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
    left: 70%;
    top: 70%;
    /* transform: translate(100%, 0%); */
    font-size: 14px;
    overflow: hidden;
    z-index: 999;
}

.dropdown li {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* justify-content: center; */
}

.dropdown li:hover {
    background-color: #eee;
}

#game-icon {
    margin-left: 5px;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 1px solid #ad893f;
    box-shadow: rgba(121, 111, 70, 0.644) 0px 0px 4px 0px;
}

.wai {
    background-color: rgb(208, 64, 64);
    border-radius: 3px;
    margin-left: 5px;
    color: white;
    font-size: 14px;
    padding: 1px;
    text-align: center;
}

.fei {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.15), rgba(255, 255, 255, 0)) !important;
}

.ou {
    background: linear-gradient(90deg, rgba(0, 255, 21, 0.15), rgba(255, 255, 255, 0)) !important;
}

#error-message-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
    z-index: 9999;
}

#error-message-box {
    position: absolute;
    z-index: 10000;
    top: 45%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background-color: white;
    font-size: 24px;
    min-height: 100px;
    min-width: 200px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: #172124 0px 0px 40px 3px;
    border: 3px solid #62c2d8;
}

#error-message-title {
    position: relative;
    height: 30px;
    text-align: center;
    align-content: center;
    font-size: 20px;
    color: rgb(7, 110, 123);
    padding: 2px;
}

#error-message-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    /* 从左边 10% 开始 */
    width: 90%;
    /* 画 80% 的宽度 */
    border-bottom: 3px solid rgb(164, 215, 222);
}

#error-message-content {
    /* width: 100%; */
    height: auto;
    color: rgb(12, 133, 149);
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 18px;
    text-align: left;
}

#error-message-button {
    /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#error-message-button button {
    height: 30px;
    width: auto;
    background-color: rgb(11, 156, 175);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    padding: 0 20px;
}

.fade-in {
    pointer-events: none;
    /* 阻止点击 */
    visibility: hidden;
    /* 隐藏可视性，但保留元素结构 */
    opacity: 0;
    transform: translate(-50%, 0%) scale(0.6) !important;
    transition: opacity .3s cubic-bezier(0, 0, 0.2, 1), transform .3s cubic-bezier(0, 0, 0.2, 1);
}

.fade-in.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) !important;
    pointer-events: auto;
    /* 恢复点击 */
    visibility: visible;
    /* 显示可视性 */
}

.error-message-bg-hide {
    pointer-events: none;
    /* 阻止点击 */
    visibility: hidden;
    /* 隐藏可视性，但保留元素结构 */
    opacity: 0;
}

.text-center {
    text-align: center !important;
}

.json-button {
    /* position: relative; */
    display: block;
    margin-right: 4px;
    /* margin-bottom:auto; */
    /* padding: 6px 10px; */
    border-radius: 8px;
    border: 1px solid rgb(146, 165, 168);
    background-color: rgb(234, 245, 249);
    box-shadow: rgba(121, 140, 143, 0.428) 0px 0px 4px 0px;
    box-sizing: border-box !important;
    cursor: pointer;
    height: 25px;
    /* top:0px; */
    /* bottom: 10px; */
    width: 46px;
}

.json-button:hover {
    background-color: rgb(201, 218, 224);
}

.screenshot-btn {
    position: relative;
    display: block;
    /* left:0px; */
    margin-right: 10px;
    margin-left: 10px;
    ;
    /* margin: auto; */
    /* padding: 4px; */
    border-radius: 18px;
    border: 1px solid #cab091;
    background-color: rgba(255, 237, 209, 0.75);
    backdrop-filter: blur(calc(var(--bgBlur) * 1px));
    height: 36px !important;
    width: 36px !important;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    color: #74542d;
    /* box-shadow: rgba(178, 147, 107, 0.644) 0px 0px 4px 2px; */

    z-index: 11;

    transition: background-color 0.5s, color 0.5s, width 0.5s;
}

.screenshot-btn:hover {
    width: 76px !important;
}

.screenshot-text {
    position: absolute;
    top: 6px;
    left: 27px;
    font-size: 18px;
    /* margin-left: 5px; */
    /* display: none; */
    opacity: 0;
    white-space: nowrap;
    /* visibility: hidden; */
    pointer-events: none;

    transition: opacity 1s;
}

.screenshot-btn:hover .screenshot-text {
    /* display: inline; */
    /* visibility: visible; */
    opacity: 1;
}

.dark-mode {
    background-color: #373737;
    color: white;
    box-shadow: rgba(249, 236, 218, 0.644) 0px 0px 10px 1px;
}

.screenshot-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222c0;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    clip-path: circle(var(--ratio) at var(--cx) var(--cy));
    /* clip-path: circle(0% at var(--cx) var(--cy)); */
    transition: clip-path 1s ease-out;
    /* z-index: 9999; */
    /* pointer-events: none; */
    z-index: 10;

    --cx: 50%;
    --cy: 50%;
    --ratio: 0%;
}

.screenshot-box-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
}

.screenshot-title {
    position: absolute;
    width: 100%;
    height: 50px;
    pointer-events: none;
    font-size: 25px;
    top: 10px;
    text-align: center;
}

.screenshot-content {
    text-align: center;
    position: relative;
    margin-top: var(--top) !important;
    width: 100%;
    height: calc(100% - var(--top) - var(--bottom));
    /* padding: 10px; */
    margin: 0px;
    padding: 0px;

    --top: 50px;
    --bottom: 30px;
}

.screenshot-content-items {
    /* display: inline-block; */
    display: flex;
    flex-wrap: wrap;
    /* 多行时换行 */
    justify-content: flex-start;
    /* 子元素左对齐 */
    width: auto;
    height: auto;
    /* margin: auto; */
    font-size: 0;
}

.screenshot-img {
    border-radius: 10px;
    outline: 1px solid #ccc;
    cursor: pointer;
    object-fit: contain;
    transform: scale(1);

    transition: transform 0.5s;
}

.screenshot-img:hover {
    box-shadow: rgba(249, 236, 218, 0.644) 0px 0px 20px 2px;
    transform: scale(1.1);
}

.pages-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pages-box button {
    margin: 0px 5px;
    background-color: #00000000;
    border: none;
    color: white;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.page-btn {
    border-radius: 50%;
    width: 25px;
    height: 25px;

    transition: background-color 0.5s;
}

.page-btn:hover {
    background-color: #b4b4b4 !important;
}

.pages-box .page-active {
    /* margin-right: 10px; */
    background-color: #4a4a4a;
    outline: 1px solid #cab091;
    box-shadow: rgba(249, 236, 218, 0.644) 0px 0px 10px 1px;
}

.img-viewer-box-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    transition: opacity 0.3s;
}

.img-viewer-box {
    height: 95%;
    width: 95%;
    /* aspect-ratio: 1; */
}

.img-viewer-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform-origin: top left;
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-drag: none;
}

.dragging {
    cursor: grabbing;
}

.img-viewer-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    z-index: 9999;
    background-color: #4a4a4a;
    outline: 1px solid #cab091;
    box-shadow: rgba(249, 236, 218, 0.644) 0px 0px 10px 1px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s, box-shadow 0.5s;
}

.img-viewer-close:hover {
    transform: scale(1.1);
    box-shadow: rgba(249, 236, 218, 0.644) 0px 0px 20px 1px;
}

.img-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff6d;
    backdrop-filter: blur(8px);
    box-shadow: #494949 0px 0px 10px 0px;
    z-index: 30;
    border-radius: 10px;
    overflow: hidden;
}

.img-menu-item {
    padding: 10px;
    cursor: pointer;
}

.img-menu-item:hover {
    background-color: #f7d7be4e;
}

.invisible {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
}